body {
    font-family: monospace;
    color: white;
    background-color: black;
    text-align: center;
}

a:link {
    color: darkred;
}

a:visited {
    color: darkred;
}

a:hover {   
    color: darkblue
}

a:active {
    color: red
}

